.d-flex.align-items-center
  %h1 HELP掲示板一覧
  .ml-auto.boards__linkBox
    %a.btn.btn-outline-dark 新規作成
%table.table.table-hover.boards__table
  %thead.thead-dark
    %tr
      %th ID
      %th タイトル
      %th 作成者
      %th 作成日時
      %th 更新日時
  %tbody
    %tr
      %th 1
      %td ベアリングが故障した
      %td yasuyoshi
      %td 2020年4月1日
      %td 2020年4月15日
    %tr
      %th 2
      %td 雑談掲示板2
      %td hagumi
      %td 2020年4月1日
      %td 2020年4月15日
© 2020 GitHub, Inc.
